z@charset "utf-8";
/* CSS Document */
/*topbar*/
.main{width:1300px;height:1000px;margin-right: auto;margin-left: auto;}
.comwidth{ width:1300px; margin-left:auto; margin-right:auto; padding-left:auto;}
.topbar{ height:31px; background-color:#EFEFEF; line-height:31px;}
.left{ float:left; padding-left: 100px;margin-left: 20px;}
.right{ float:right;margin-right: 100px;}
.fenlei-show a:hover {color:#E938F2;}
.hide{display: none;}
.show{display: block;}
/*logobar*/
.logobar{ height:100px;position: absolute;}
.logo{ padding-left:48px; padding-top:15px; margin-left:40px;}
.search{width:594px;padding-top:23px; padding-left:100px; margin-top:35px;}
.search-text{width:480px; height:35px; line-height:35px\9; padding:0 5px;}
.search-btn{ width:100px; height:39px; font-size:14px; font-family:Arial, Helvetica, sans-serif, monospace, Times, serif; background-color:#F30; color:#FFF;}
.search xiabiao{ font-size:16px;}
	

/*navbox*/
.shangpin{height:55px;background-color:#F00;}
.navbox{ height:35px;margin-left:200px;}
.fenlei{ font-size:20px;color:#FFF;width:170px; height:34px; padding-bottom:8px;position:relative; }
.fenlei h3{text-align:center; border-bottom-color:#F00 solid 1px;}
.nav{font-family:"Microsoft YaHei UI"; line-height:35px;}
.nav li{ float:left;}
.nav a{ font-size:24px; display:inline-table; padding:10px 28px; color:#000;}
.fenlei-item a{color:#FFF;}
.fenlei-item .b{ margin-left:25px; height:30px; line-height:100px;}
.fenlei-show{background-color:#9D9D9D;position: absolute; width: 100%;}

/*active状态*/


/*弹出页面*/
.fenlei-list{ padding-left:20px; width:868px;border-top:#FA0A0F solid 2px; position:absolute; left:160px; top:53px;}
.fenleilist-item{padding:30px 10px;border-bottom:#ccc solid 1px;}
.fenleilist-item dt{color:#000; font-weight:bold; font-size:17px; height:30px;}
.fenleilist-item dd{ padding-left:100px; margin-top:-30px; font-size:14px;}
.fenleilist-item dd a{margin-left:20px;}
.fenleilist-item .acolor{ color:#F30;}

/*banner*/
.banner{margin-bottom: 15px;}
.banner-bar{width: 910px; height: 524px;float: right;position: relative;overflow: hidden;}
.imgbox{width: 1820px; height: 498px;position: absolute;top: 0px;left:0px;margin-top: 20px;margin-left:0px;}
.imgbox li{float: left;}
.imgbox img{width: 910px; height: 498px;display: block;}
.imgNum{position: absolute;left: 0;bottom: 10px;width: 100%;text-align: center;}
.imgNum a{width: 20px;height: 5px;overflow: hidden;background-color: #FFFFFF;display: inline-block;margin: 0 3px;}
.imgNum .active{background-color: #F80808;}


/*lover*/
.lover{height: 44px;line-height: 44px;margin-bottom: 15px;}
.lover h3{font-size: 24px; float: left;padding-left: 15px;font-weight: normal;}
.icon{width: 44px;height: 44px;margin-left: 70px;float: left;}
.more{float: right;}
.more:hover{text-decoration: underline;}
.lover-list{width:910px;}
.Right{float:right;width: 908px;height: 560px; margin-right: 240px;border:#C5C1C1 solid 1px;border-bottom:#940AC8 solid 3px;height: 563px; }
.lover-item{width:226px;border-right: #C5C1C1 solid 1px;border-bottom: #C5C1C1 solid 1px; height: 280px;text-align: center;float: left;}
.lover-img img{height: 220px;width: 225px;margin-bottom: 20px;}
